<!DOCTYPE html>
<head>
    <title>Map of Helsinki</title>
</head>
<body>
    <p>test {{ query }} </p>
    <div style="position: relative; max-width: 800px; max-height: 800px; width: 800px; height: 800px; overflow: hidden;">
        <img src="{{url_for('static', filename='helsinki.png')}}" style="position: relative; zoom:80%;  overflow: hidden;top:-4000px; right:3100px"/>
    </div>
    <p>Maps from Maanmittauslaitos Maastotietokanta 10/2025. Licensed under CC-4.0 Lisence</p>
</body>