<!DOCTYPE html>
<head>
    <title>Map of Helsinki</title>
</head>
<body>
    <div style="position: relative; max-width: 800px; max-height: 800px; width: 800px; height: 800px; overflow: hidden;">
        <img src="{{url_for('static', filename='helsinki.png')}}" style="position: relative; zoom:80%;  overflow: hidden;top:-4000px; right:3100px"/>
        <img src="{{url_for('static', filename='test.png')}}" style="position:absolute; left: 0; bottom:0; z-index: 2; width: 800px; height: 800px; opacity: 50%;" />
    </div>
    <p> <a href="/suomi"> Zoom out 🔍</a> </p>
    <p>Maps from Maanmittauslaitos Maastotietokanta 10/2025. Licensed under CC-4.0 Lisence</p>
</body>