<!DOCTYPE html>
<html>
<head>
    <title>Omnibase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    body {
        background-image: url("../static/omnibase.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
    <div class="container">
        <a href="/suomi/" class="btn">Go to Finland Map</a>
        <a href="/viesti/" class="btn">Send a Message</a>
    </div>
</body>
</html>